body {
    background: #FFFFFF;
    /* margin: 5%; */
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15%;
    margin: 5%;
}

.header-btn {
    text-decoration: none;
    border: none;
    background: #E8EFF2;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */
    text-transform: uppercase;

    color: #162542;

    padding: 0.5rem;
    border-radius: 8px;
    
}

.header-btn-div {
    text-align: center;
    display: flex;
    align-items: center;
}

.main-header {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;

    /* or 100% */
    text-transform: uppercase;

    color: #162542;

    margin-bottom: 10%;

    margin: 5%;
}

.main-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    /* or 162% */

    color: #7B8BAD;

    margin-bottom: 10%;
    margin: 5%;
}

.main-btn {
    text-decoration: none;
    border: none;
    background: #F16718;
    border-radius: 8px;

    /*                button text properties             */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */
    text-transform: uppercase;

    color: #FFFFFF;

    padding: 0.5rem;
    
}


.release-txt {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */
    text-transform: uppercase;

    color: #7B8BAD;
    
    margin-right: 2rem;
    display: flex;
    align-items: center;
    
}

.main-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 5% 5% 15% 5%;
    
}

/* .images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

.image-1-div {
    margin: 5% 0 5% 5%;
    overflow-x: hidden;
}

.image-1 {
    width: 100vw;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.image-2-div {
    position: relative;
    margin-left: -2.1rem;
}

.image-2 {
    width: 80%;   
    border-radius: 1rem;    
}

.image-2-div:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: #F16718;
    opacity: 0.75;
    border-radius: 1rem;
    mix-blend-mode: multiply;
    
}

.image-2 > img {
    display: block;
    max-width: 100%;
    height: auto;
}


.image-3 {
    width: 100%;
    border-radius: 1rem;
}

.two-image {
    display: flex;
    flex-direction: row;
    margin-bottom: 25%;
}

.items {
    margin: 5%;
}

.icons {
    background-color: #f16718;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

    margin: 15% 5% 0 5%;
}



.high-hdr {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;

    /* or 112% */
    text-align: center;
    text-transform: uppercase;

    color: #162542;

    margin: 5%;
}

.low-hdr {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    /* or 117% */
    text-align: center;
    text-transform: uppercase;

    color: #162542;
    /* margin: 5% 20% 15% 20%; */
    margin: 10%;
}

.low-txt {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    /* or 162% */
    text-align: center;

    color: #7B8BAD;
}

.item-1, .item-2, .item-3, .item-4, .item-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25% 5% 10% 5%;
}

.footer-txt {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    /* identical to box height, or 162% */

    color: #7B8BAD;


}

.pattern-div {
    display: none;
}


.pattern-div1, .pattern-div2 {
    display: none;
}

/*      TABLET DESIGN       */
@media screen and (min-width: 776px) and (max-width: 996px) {
    .header-btn {
        padding: 1.2rem;
        width: 9rem;
    }
    
    .first-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }

    .main-header-div {
        width: 70vw;
    }

    .image-1 {
        width: 60vw;
    }

    .two-image, .image-2-div {
        margin: 0;
        padding: 0;
        
    }

    .two-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 5%;
    }

    .image-2 {
        content: url(./assets/tablet/image-phone-and-keyboard.jpg);
        width: 100%;
    }

    .image-2-div:after {
        width: 100%;
    }

    .image-3 {
        content: url(./assets/tablet/image-glass-and-keyboard.jpg);
        width: 100%;
    }


    .item-1, .item-2, .item-3, .item-4, .item-5 {
        align-items:normal;
        margin: 0;
        padding: 0;
    }

    .item-1 > h2 {
        margin-top: 5%;
        margin-left: 5%;
    }

    .low-hdr, .low-txt {
        text-align: left;
        margin: 0;
        padding: 0;
        margin-top: 10%;
    }

    .item-1 > p {
        margin-top: 0;
        margin-right: 5%;
    }

    .item-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 10%;
        gap: 5rem;
        align-items: center;
    }

    .sub-items {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3rem;
        margin-right: 10%;
        
    }   

    .icons {
        margin: 0;
        margin-top: 10%;
    }

    footer {
        margin-top: 15%;
        margin-bottom: 5%;
    }

    .pattern-div1, .pattern-div2 {
        display: none;
    }
}



/* DESKTOP DESIGN */
@media screen and (min-width: 996px) {
    header {
        margin: 3rem 12rem 0 15rem;
    }


    .header-btn {
        padding: 1.2rem;
        width: 9rem;
    }
    
    .first-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 15rem;
    }

    .main-header-div {
        width: fit-content;
        margin: 0;
        padding: 0;
    }

    .main-btn {
        padding: 1rem;
    }

    .release-txt {
        padding: 0;
        margin: 0;
    }

    .main-header, .main-text, .main-btn-div, .release-txt {
        margin-left: 0;
        padding-left: 0;
    }

    .image-1 {
        content: url(./assets/desktop/image-keyboard.jpg);
        width: 100%;
    }

    .pattern-div1 {
        display: block;
        margin-right: -10vw;
        margin-left: 5vw;
        align-self: flex-start;
        margin-top: 5%;
    }

    body {
        overflow-x: hidden;
    }

    .two-image, .image-2-div {
        margin: 0;
        padding: 0;
        
    }

    .two-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 5%;
    }

    .image-2 {
        content: url(./assets/desktop/image-phone-and-keyboard.jpg);
        width: 100%;
    }

    .image-2-div:after {
        width: 100%;
    }

    .image-3 {
        content: url(./assets/desktop/image-glass-and-keyboard.jpg);
        width: 100%;
    }


    .pattern-div2 {
        
        display: flex;
        align-self: flex-end;
        margin-left: -7rem;
    }

    .item-1 > p, .high-hdr {
        text-align: left;
        margin: 0;
        padding: 0;
        margin-bottom: 5%;
    }

    .item-1 {
        margin-left: 5%;
        align-items:flex-start;
    }

    .images {
        display: flex;
        margin-right: 5%;
    }

    .sub-items {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .item-2, .item-3, .item-4, .item-5 {
        align-items:normal;
        margin: 0;
        padding: 0;
    }

    .low-hdr, .low-txt {
        text-align: left;
        margin: 0;
        padding: 0;
        margin-top: 10%;
    }



    .icons {
        margin: 0;
        margin-top: 10%;
    }

    footer {
        margin-top: 10%;
        margin-bottom: 5%;
    }


    /* HOVER EFFECTS */

    .header-btn:hover {
        background-color: #162542;
    }

    .header-btn:hover .header-btn-txt {
        color: #FFFFFF;
    }

    .main-btn:hover {
        background-color: #FF9B62;
    }
    
    
}